.form-content {
  width: 1920px;
  margin: 20px;

}
.add-vechile-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}


@media only screen and (max-width: 1440px) {
  .form-content {
    width: 1440px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 20px;
  }
  .add-vechile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .form-content {
    width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 20px;
  }
  .add-vechile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}